*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

li{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
header {
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
    top:0;
    left: 0;
    width: 100%;
    background: rgba(255,255,255,0.3);
}
header.sticky{
    background: rgba(255,255,255,1);
}
header:hover{
    background: rgba(255,255,255,1);
}
.logo {
    flex : 1; 
}
.menu{
    flex:3;
    display: flex;
}
.others{
    flex:1;
    display: flex;
}
.menu>li{
    padding: 0 16px;
    position: relative;
}
.menu > li:hover .sub-menu{
    visibility: visible;
    top:45px;
    
}
.sub-menu{
    position: absolute;
    width: 150px;
    border: 1px solid black;
    padding:10px 0 10px 20px;
    visibility: hidden;
    top: 60px;
    transition: 0.2s;
    z-index: 1;
    background: white;
}
.sub-menu ul{
    padding-left: 20px;
}
.menu li a{
    font-size: 16px;
    font-weight: bold;
    display: block;
    line-height: 20px;
}
.others>li{
    padding:0 12px;
    position: relative;
}
.others>li::after{
    content: "";
    display: block;
    width: 1px;
    height: 50%;
    background: white;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.others>li:last-child::after{
    display: none;
}
.others>li:first-child{
    position: none;
}
.others >li:first-child input{
    width: 100%; 
    border: none;
    border-bottom: 1px solid #333;
    background: transparent;
    outline: none;
}
#Slider{
    padding-bottom: 30px;
    border-bottom: 2px solid black;
    overflow: hidden;
}
.others >li:first-child i{
    position: absolute;
    right: 10px;
}
.aspect-ratio-169 {
  display: block;
  position: relative;
  padding-top: 56.25%;
  transition: 0.3s;
}

.aspect-ratio-169 img {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.dot-container{
    position: absolute;
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.dot{
    height: 16px;
    width: 16px;
    background-color: #999999;
    border-radius: 50%;
    margin-right: 12px;
    cursor: pointer;
}
.dot.active{
    background-color: #333333;   
}
/*------------------------appp---------------------------------------*/

.app-container{
    text-align: center;
    align-items: center;
    padding: 150px 0 50px 0;
}
.app-google{
    margin: 50px;
}
.app-google img{
    height: 50px;
    cursor: pointer;
}
.app-container p {
    line-height: 20px;
    letter-spacing: 1px;
    font-size: 17px;
    color: darkblue;
    font-weight: bold;
}
.app-container input{
    margin-top: 50px;
    border: none;
    border-bottom: 1px solid #666666;
    padding-bottom: 20px;
    width: 400px;
    text-align: center;
    outline: none;
}

/*------------------------footer---------------------------------------*/
footer{
    text-align: center;
}
.footer-top{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    height: 70px;
}

.footer-top li{
    padding: 0 12px;
    position: relative;
}
.footer-top li::after{
    content:"";
    display: block;
    width: 1px;
    height: 80%;
    background: white;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(-50%);  
}
.footer-top li::last-child::after{
    display: none; 
}
.footer-center{
    text-align: center;
    
}
.footer-bottom{
    margin: 20px;
    text-align: center;
}

/* ------------category--------------*/
.row{
    display: flex;
    flex-wrap: wrap;
}



.item-inf {
    display: flex;
    border-right: 2px solid #333;
    padding: 10px;
}

.contact span {
    color: cornsilk;
    font-size: 22px;
    text-shadow: 2px 0 0 #055160, -2px 0 0 #055160, 0 2px 0 #055160, 0 -2px 0 #055160, 1px 1px #055160, -1px -1px 0 #055160, 1px -1px 0 #055160, -1px 1px 0 #055160;
}

.megamenu a{
    padding: 50px;
    width: 200px;
}

.choice{
    border: none;
    background-color: white;
    font-size: 16px;
    font-weight: bold;
    display: block;
    line-height: 40px;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    width: 50em;
}
th, td {
    border: 1px solid black;
    text-align: left;
    padding: .5em;
}